.col-item:nth-child(n+5) {
  margin-top: 20px;
}

.project {
  height: 100px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  padding: 10px;
}