@import "../../assets/style/base/config";

.main-menu {
  height: 100%;
  min-height: 100vh;
}

.logo-area {
  height: 64px;
  line-height: 64px;
  background-color: #02223F;
  overflow: hidden;
  padding-left: 70px;
  img {
    display: inline-block;
    height: 32px;
    vertical-align: middle;
  }
  h1 {
    display: inline-block;
    vertical-align: middle;
    color: white;
    font-size: 20px;
    font-family: Myriad Pro, Helvetica Neue, Arial, Helvetica, sans-serif;
    font-weight: 600;
    margin-left: 12px;
  }
}