@import "../../assets/style/base/config";

.main-menu {
  width: $container-width;
  margin: 0 auto;
  background-color: transparent;
  .logo-area {
    font-size: 20px;
    line-height: 60px;
  }
  li {
    float: right;
  }
}