@import "../../../assets/style/base/var";

.img-thum {
  background-color: $--bg-color;
  text-align: center;
  img {
    height: 150px;
  }
}

.col-item {
  margin-top: 20px;
}

.cardSelected {
  border-color: $--color-success;
}

.card-item-info {
  background-color: white;
  padding: 15px 15px 0;
  height: 80px;
}